<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/main2.css}" rel="stylesheet" />
    <link th:href="@{/bootstrap-4/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/js/main.js}">
    </script>
    <title>Sign Up</title>
</head>

<body class="bg-custom">
    <!-- inclusione jquery-->
    <script th:src="@{/jquery/jquery-3.7.0.com.js}" th:inline="javascript">
    </script>

    <div class="container">
        <h1 style="color: white; font-size: 36px; text-align: center; margin-top: 10px;">Sign Up</h1>
        <div class="login_cont">
            <!-- Form Group for Username -->
            <div class="form-group">
                <label for="username" style="color: white;">Username</label>
                <input type="text" id="username" maxlength="20" name="username" class="form-control" placeholder="Enter username here" style="color:white">
            </div>

            <!-- Form Group for E-mail -->
            <div class="form-group">
                <label for="email" style="color: white; margin-top: 10px;">Email</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Enter e-mail here" style="color:white">
            </div>

            <!-- Form Group for Employee Type -->
            <div class="form-group">
                <label for="employee_type" style="color: white; margin-top: 10px;">Employee Type</label>
                <select id="employee_type" name="employee_type" class="form-control" style="color:white; background-color: rgba(57,57,83,1);">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>        
                </select>    
            </div>

            <!-- Form Group for Password -->
            <div class="form-group">
                <label for="password" style="color: white; margin-top: 10px;">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter password here" style="color:white">
            </div>

            <!-- Form Group for Confirm Password
            <div class="form-group">
                <label for="conf_password" style="color: white; margin-top: 10px;">Confirm Password</label>
                <input type="password" id="conf_password" name="conf_password" class="form-control" placeholder="Confirm password here" style="color:white">
            </div>
            -->    
        </div>

        <!-- Button Section -->
        <div class="button_dist">
            <button class="login-button" type="submit" th:onclick="redirectToLogin()" style="margin-left: 10px;">Submit</button>
            <button class="login-button" type="button" th:onclick="redirectToLogin()" style="margin-left: 10px;">Back</button>
        </div>
    </div>
</body>

</html>
